{% extends 'df_goods/base.html' %}

{% block body %}


	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{ title }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for h in hot %}
                        <li>
                            <a href="{{ h.id }}"><img src="/static/{{ h.gpic }}"></a>
                            <h4><a href="#">{{ h.gtitle }}</a></h4>
                            <div class="prize">￥{{ h.gprice }}/{{ h.gunit }}</div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{ typeinfo.id }}_1_1/"
                   {% if sort == '1' %}
                   class="active"
                   {% endif %} >默认</a>
                <a href="/list{{ typeinfo.id }}_1_2/"
                   {% if sort == '2' %}
                   class="active"
                   {% endif %} >价格</a>
                <a href="/list{{ typeinfo.id }}_1_3/"
                   {% if sort == '3' %}
                   class="active"
                   {% endif %} >人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{% for g in page.object_list %}
                    <li>
                        <a href="/{{ g.id }}/"><img src="/static/{{ g.gpic }}"></a>
                        <h4><a href="detail.html">{{ g.gtitle }}</a></h4>
                        <div class="operate">
                            <span class="prize">￥{{ g.gprice }}/{{ g.gunit }}</span>
                            <a href="/cart/add{{ g.id }}_1" class="add_goods" title="加入购物车"></a>
                        </div>
                    </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if page.has_previous %}
				    <a href="/list{{ typeinfo.id }}_{{ page.previous_page_number }}_{{ sort }}/"><上一页</a>
                {% endif %}
                {% for pindex in paginator.page_range %}
                    <a href="/list{{ typeinfo.id }}_{{ pindex }}_{{ sort }}/" class="active">{{ pindex }}</a>
                {% endfor %}
                {% if page.next_page_number %}
				    <a href="/list{{ typeinfo.id }}_{{ page.next_page_number }}_{{ sort }}/">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}
